@page "/Post/{id}"
@inherits PostBase

<div class="w-[90vw] max-w-[1100px] bg-dark-secondaryColor rounded-md mx-auto pt-5 pb-10 mt-5 shadow-xl">
    <div class="w-[95%] max-w-[1000px] md:mt-5 mx-auto relative rounded-md">
        <p>Post : @Id</p>
    </div>
</div>
