@using DomainLayer.Constants
@typeparam TItem
@inherits LazyListBase<TItem>


<div class="@ParentClasses">
    @if (Items != null)
    {
        if (Items.Any())
        {
            foreach (var item in Items)
            {
                @ListTemplate(item)
            }
        }
        else if (!Items.Any() && !Loading)
        {
            @EmptyTemplate
        }
    }
    @if (Loading)
    {
        <div class="w-full h-full flex justify-center items-center text-light-primaryColor">
            <FaIcon Icon="@FaIcons.Loading" />
        </div>
    }
    <div id="@SentinelId" style="height: 1px; width: 100%;"></div>
</div>
