@using ApplicationLayer.DTO_s
@using DomainLayer.Helpers

<div class="md:w-[350px] md:max-w-[400px] w-[90%] bg-dark-secondaryColor p-3 rounded-md cursor-pointer hover:scale-[1.05] transition-transform">
   <div class="flex items-center gap-3">
      <img src="@Notif.fromUser.ProfileImgUrl" alt="" class="rounded-full w-[50px] h-[50px] object-cover" />
      <p class="text-light-primaryColor text-[16px] font-medium">
         @($"{Notif.fromUser.Username} {Notif.notificationType.GetMessage()}")
      </p>
   </div>
   <p class="text-gray-400 text-[10px] mt-[10px]">
      @Helpers.GetUsersLocalTime(Notif.createdAt)
   </p>
</div>

@code { [Parameter] public required NotificationsDto Notif { get; set; }
}