@page "/Unauthorized"
@using CodeConnect.WebAssembly.Components.General
@using DomainLayer.Constants

<div class="w-[100vw] h-[100vh] bg-dark-primaryColor">
    <div class="text-center text-dark-supportColor/90 font-bold text-4xl pt-[100px]">
        <div class="w-[256px] mx-auto rotate-[-10deg]">
            <FaIcon Icon="@FaIcons.Lock" Size="@FaSize.XxLarge" ExtraCss="text-red-700 mx-auto self-center" />
        </div>
        <h1 class="mt-5">You don't have access to this page or action</h1>

    </div>
</div>
