@page "/UserNotFound"
@using CodeConnect.WebAssembly.Components.SVGs

<h3 class="text-center text-light-supportColor dark:text-dark-supportColor font-bold mt-5 mb-5 text-lg">Ooops...</h3>
<div class="w-[200px] height-[200px] mx-auto">
    <UserNotFoundSVG Width="200" Height="200" Color="333333" />
</div>
<h3 class="text-center text-light-supportColor dark:text-dark-supportColor font-bold mt-5 text-lg">User not Found</h3>
