@inherits EditUserInterestsBase

<div class="top-0 left-0 fixed z-[300] w-[100vw] h-[100vh] backdrop-blur-md grid place-content-center">
    <div class="shadow-xl md:w-[500px] w-[90%]  mt-5 relative bg-dark-secondaryColor p-5 rounded-md">
        <p>Edit Interests</p>
        
    </div>
</div>
