@inherits FollowUserBase

<button class="dark:text-dark-supportColor text-light-supportColor hover:cursor-pointer bg-red-700 hover:bg-red-600 rounded-md px-5 py-[5px] mt-[10px]">
    <i class="fa-solid fa-heart"></i> Follow
</button>