@using CodeConnect.WebAssembly.Components.Users
@using CodeConnect.WebAssembly.Components.General
@inherits UserFollowingBase


<LazyList Items="Following" OnBottomReached="LoadMoreFollowing" StartIndex="0" Take="100" ParentClasses="flex flex-wrap">
    <ListTemplate Context="user" >
        <UserBasic User="user"/>
    </ListTemplate>
    <EmptyTemplate>
        <p>Following no one</p>       
    </EmptyTemplate>
</LazyList>

