@using CodeConnect.WebAssembly.Components.Posts
@using CodeConnect.WebAssembly.Components.General
@inherits UserPostsBase

<LazyList Items="Posts" OnBottomReached="LoadMorePosts" StartIndex="0" Take="20" ParentClasses="columns-1 md:columns-2 gap-2 mt-5 space-y-2">
    <ListTemplate Context="post" >
        <PostBasic Post="post" />
    </ListTemplate>
    <EmptyTemplate>
        <p class="text-light-primaryColor font-bold">No posts</p>       
    </EmptyTemplate>
</LazyList>