@using ApplicationLayer.DTO_s
@using CodeConnect.WebAssembly.Components.Users
@inherits UserFollowersBase

@* @if (Loading) *@
@* { *@
@*     <p>loading followers...</p> *@
@* } *@
@* else *@
@* { *@
@* *@
@* *@
@* } *@
<LazyList Items="Followers" OnBottomReached="LoadMoreFollowers" Context="user" StartIndex="0" Take="100" ParentClasses="flex flex-wrap">
    <UserBasic User="user" />
</LazyList>