@using CodeConnect.WebAssembly.Components.SVGs
@inherits UserPostsBase

<p class="text-4xl font-bold dark:text-dark-supportColor text-light-supportColor">Recent Posts</p>
<div class="mt-5 text-center dark:text-dark-supportColor text-light-supportColor">
    <p>...Winds howling</p>
    <div class="w-[100px] mx-auto">
        <EmptySVG Width="100" Height="100" Color="555555"></EmptySVG>
    </div>
    <p>man its empty in here</p>
</div>