@using CodeConnect.WebAssembly.Components.Users
@inherits UserFollowersBase

@if (Loading)
{
    <p>loading followers...</p>
}
else
{
    if (Followers.Any())
    {
        foreach (var user in Followers)
        {
            <UserBasic User="user" />
        }
    }
    else
    {
        <p>You have no followers...loser</p>
    }
}
