@using CodeConnect.WebAssembly.Components.General
@using CodeConnect.WebAssembly.Components.Users
@inherits UserFollowersBase


<LazyList Items="Followers" OnBottomReached="LoadMoreFollowers" StartIndex="0" Take="100" ParentClasses="flex flex-wrap">
    <ListTemplate Context="user" >
        <UserBasic User="user"/>
    </ListTemplate>
    <EmptyTemplate>
        <p>No followers</p>       
    </EmptyTemplate>
</LazyList>