@using CodeConnect.WebAssembly.Components.Users
@inherits UserFollowersBase

@if (Loading)
{
    <p>loading followers...</p>
}
else
{
    if (Followers.Any())
    {
        <div class="flex flex-wrap">
            @foreach (var user in Followers)
            {
                <UserBasic User="user" />
            }
        </div>
    }
    else
    {
        <p class="font-bold text-light-primaryColor">You have no followers...loser</p>
    }
}
