@using CodeConnect.WebAssembly.Components.General
@inherits PostCommentsBase

<CreateComment OnCommentCreated="AddCommentToTop"/>

<LazyList Items="Comments" OnBottomReached="LoadMoreComments" StartIndex="0" Take="100" ParentClasses="flex flex-wrap">
    <ListTemplate Context="comment">
        <Comment OnCommentDeletion="DeleteComment" UserComment="comment"/>
    </ListTemplate>
    <EmptyTemplate>
        <p class="text-light-primaryColor font-bold mt-5">No Comments</p>       
    </EmptyTemplate>
</LazyList>