@page "/Account/Login"
@using Microsoft.AspNetCore.Authorization
@inherits LoginBase

<div></div>
<div>
    <div>
        <h1>Login</h1>
        <EditForm FormName="Login" Model="LoginForm" OnSubmit="SubmitLogin">
            <div>
                <InputText @bind-Value="LoginForm.Email" id="email"></InputText>
                <div>
                    @if (LoginErrors.Any(x => x.PropertyName == "Email"))
                    {
                        foreach (var error in LoginErrors.Where(x=> x.PropertyName == "Email"))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <div>
                <InputText type="password" @bind-Value="LoginForm.Password" id="password"></InputText>
                <div>
                    @if (LoginErrors.Any(x => x.PropertyName == "Password"))
                    {
                        foreach (var error in LoginErrors.Where(x=> x.PropertyName == "Password"))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    }
                </div>
            </div>
            <button type="submit">Login</button>
        </EditForm>
    </div>
    <div>
        <h1>Welcome back to Code Connect!</h1>
        <div>
            <p>Log back in to carry on sharing projects and ideas</p>
            <p>in you're coding community</p>
        </div>
        <h3>Don't have an account?</h3>
        <a href="Account/Register">Register now!</a>
    </div>
</div>