@inherits HomeBase
@page "/"

<PageTitle>Welcome to Code Connect!</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="logo text-primary fs-1">Code Connect</h1>
            <p class="text-light">Building bridges through code</p>
        </div>
        <div class="col-6 ">
            <p class="fw-bold text-light fs-3">Join Today!</p>
            <button class="btn btn-secondary btn-lg">Create An Account</button>
            <a href="/Account/Login" class="btn btn-primary btn-lg">Login</a>
            
        </div>
    </div>
</div>