@inherits HomeBase
@page "/"

<PageTitle>Welcome to Code Connect!</PageTitle>

<div class="mt-5 fade-in mx-auto">
    <div class="row">
        <div class=" mt-5 text-center">
            <h1 class="logo text-primary" style="font-size: 60px">&lt;Code Connect/&gt;</h1>
            <p class="text-light fs-3">Building bridges through code</p>
            <div class="mt-5">
                <button class="btn btn-outline-light btn-lg me-3"><i class="bi bi-input-cursor-text"></i> Create An Account</button>
                <a href="/Account/Login" class="btn btn-outline-primary btn-lg"><i class="bi bi-code-square"></i> Login</a>
            </div>
        </div>
    </div>
</div>