@inherits HomeBase
@page "/"

<PageTitle>Welcome to Code Connect!</PageTitle>
<div>
    <div>
        <div>
            <h1 class="text-red-700">&lt;Code Connect/&gt;</h1>
            <p>Building bridges through code</p>
            <div>
                <a href="Account/Register"><i class="bi bi-input-cursor-text"></i> Create An Account</a>
                <a href="/Account/Login"><i class="bi bi-code-square"></i> Login</a>
            </div>
        </div>
    </div>
</div>

