@using ApplicationLayer.Interfaces
@using DomainLayer.Entities
@using Blazored.LocalStorage;
@using CodeConnect.WebAssembly.Components
@using Notification = DomainLayer.Entities.Notification
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject NotificationsService NotificationsService
@inject IJSRuntime Js
@inject ILocalStorageService LocalStorageService
@inject IAuthenticateServiceClient AuthenticateServiceClient

<div class="bg-light-primaryColor dark:bg-dark-primaryColor min-h-screen flex @(!IsNonNavPage()?"flex-row":"flex-col") pb-7">
    @if (!IsNonNavPage())
    {
        <div class="z-[300] sm:w-[250px] w-[80%]">
            <NavMenu/>
        </div>
    }
    else
    { 
        <a href="/" class="mt-3 ml-3 text-light-secondaryColor dark:bg-text-secondaryColor font-bold text-[20px]">
            &lt;Code Connect/&gt;
        </a>
    }
    <main class="px-4 z-[200] flex-grow pt-6 mt-5">
        <span @onclick="() => SetDarkTheme(!_darkTheme)" class="fa-solid @(_darkTheme ? "fa-sun text-light-primaryColor" : "fa-moon text-dark-primaryColor") fixed top-5 right-5 cursor-pointer fa-lg"></span>
        <div class="absolute top-10 right-10 flex flex-col space-y-2 z-[500]">
            @foreach (var notification in Notifications)
            {
                <Notification Notif="notification" />
            }
        </div>
        @Body
    </main>
</div>

@code{
    public List<Notification> Notifications = [];
    private bool _darkTheme = false;
    protected override async Task OnInitializedAsync()
    {
        await AuthenticateServiceClient.InitializeAsync();
        NotificationsService.OnChange += UpdateNotifications;
        Notifications = NotificationsService.GetNotification();
        
        var darkTheme = await LocalStorageService.GetItemAsync<bool>("DarkTheme");
        if (darkTheme)
        {
            ToggleDarkMode();
        }
    }

    private bool IsNonNavPage()
    {
        string[] nonNavPages = ["/","/Account/Register", "/Account/Login"]; 
        return nonNavPages.Any(page => NavManager.Uri.EndsWith(page));
    }

    private void UpdateNotifications()
    {
        Notifications = NotificationsService.GetNotification();
        StateHasChanged();
    }

    public void Dispose()
    {
        NotificationsService.OnChange -= UpdateNotifications;
    }

    private void ToggleDarkMode()
    {
        Js.InvokeVoidAsync("toggleDarkMode");
        _darkTheme = !_darkTheme;
    }

    private async Task SetDarkTheme(bool isDarkTheme)
    {
        await LocalStorageService.SetItemAsync<bool>("DarkTheme", isDarkTheme);
        await Js.InvokeVoidAsync("toggleDarkMode");
        _darkTheme = isDarkTheme;
    }
}
