

<aside class="fixed top-0 left-0 w-[250px] z-40 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-light-secondaryColor dark:bg-dark-secondaryColor">
        <a href="/" class="flex items-center p-2 rounded-lg hover:bg-gray-100/10 group mb-5">
            <span class="ms-3 text-light-primaryColor dark:bg-text-supportColor font-bold">&lt;Code Connect/&gt;</span>
        </a>
        <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg dark:text-white hover:bg-gray-100/10 group mb-5">
                    <i class="fa-solid fa-house fa-lg" style="color: #f8f9fa;"></i>
                    <span class="ms-3 text-light-primaryColor dark:text-dark-supportColor">Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2  rounded-lg dark:text-white hover:bg-gray-100/10 group mb-5">
                    <i class="fa-solid fa-bell fa-lg" style="color: #f8f9fa;"></i>
                    <span class="ms-3 text-light-primaryColor dark:text-dark-supportColor">Notifications</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2  rounded-lg dark:text-white hover:bg-gray-100/10 group mb-5">
                    <i class="fa-solid fa-user-group fa-lg" style="color: #f8f9fa;"></i>
                    <span class="ms-3 text-light-primaryColor dark:text-dark-supportColor">Friends</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 dark:text-white hover:bg-gray-100/10 rounded-lg group">
                    <i class="fa-solid fa-message fa-lg" style="color: #f8f9fa;"></i>
                    <span class="ms-3 text-light-primaryColor dark:text-dark-supportColor">Messages</span>
                </a>
            </li>
        </ul>
    </div>
</aside>




