@inject IJSRuntime JS

<div>
    <div>
        <a href="">&lt;/&gt; Code Connect</a>
        <button @onclick="ToggleNavMenu">
            <span></span>
        </button>
    </div>
</div>

<div @onclick="ToggleNavMenu">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div>
            <NavLink href="weather">
                <span aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div>
            <button @onclick="ToggleDarkMode">Toggle</button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void ToggleDarkMode()
    {
        JS.InvokeVoidAsync("toggleDarkMode");
    }
}