@page "/Notifications"
@using CodeConnect.WebAssembly.Components.General
@inherits NotificationsBase

<h3 class="text-light-primaryColor text-2xl text-center font-bold">Notifications</h3>

<div class="flex flex-col items-center space-y-4 mt-5">
    @foreach (var n in Notifications)
    {
        <Notification Notif="n" />
    }
</div>